<div id="nav-header">
  <div class="site-header">
    <div class="ladder-selector">
      <div class="season">
        <a href="#" class="season-softcore">Softcore Seasonal</a>
        <select class="ladderDDL">
          <option value>Change Ladder</option>
          <option value="seasonsc">Softcore Seasonal</option>
          <option value="seasonhc">Hardcore Seasonal</option>
          <option value="nonsc">Softcore Non-Season</option>
          <option value="nonhc">Hardcore Non-Season</option>
        </select>
      </div>
    </div>
  </div>
</div>